body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #000;
}

.container {
  margin-top: 50px;
  background: #fb8c00;
  padding: 20px;
  border-radius: 120px;
  width: 90%;
  height: 90%;
  max-width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

button {
  background: #000;
  margin-top: 100px;
  color: white;
  padding: 10px 20px;
  border: grey;
  border-radius: 8px;
  cursor: pointer;
  height: 60px;
  width: 300px;
}

